#wrapper {
	background-color: #E5DED8;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	list-style-type: none;

}

#inventory {
	width: 200px;
	float: left;
}

#left {
	width: 90px;
	float: left;
}

#right {
	width: 90px;
	float: left;
}

#tax {
	clear: both;
}

#total {
	clear: both;
}

input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 180px;
    box-shadow: 2px 2px 0 #828181 inset;
}

img {
	display: block;
   max-width: 100%;
   max-height: 100%;
   width:300px;
   height:300px;
   margin:0 auto;
   padding:0 auto;
   float: left;
}

#menu {
	width: 450px;
	height: 450px;
	border: solid black 1px;
	margin-top: 8%;
	margin-left: 25px;
	margin-right: auto;
	text-align: center; /*to remove text-align after testing for functionality.*/
	float: left;
}

.row {
	height: 148px;
	width: 450px;
	border: solid black 1px;
}

.cell {
	width: 148px;
	height: 148px;
	border: solid black 1px;
	float: left;
}